@model Project.Models.EF.Course

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Course</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MA_COURSE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MA_COURSE)
                @Html.ValidationMessageFor(model => model.MA_COURSE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NAME_COURSE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAME_COURSE)
                @Html.ValidationMessageFor(model => model.NAME_COURSE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPTION_COURSE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESCRIPTION_COURSE)
                @Html.ValidationMessageFor(model => model.DESCRIPTION_COURSE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PRICE_COURSE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRICE_COURSE)
                @Html.ValidationMessageFor(model => model.PRICE_COURSE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.STATUS_COURSE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.STATUS_COURSE)
                @Html.ValidationMessageFor(model => model.STATUS_COURSE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.THUMBNAIL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.THUMBNAIL)
                @Html.ValidationMessageFor(model => model.THUMBNAIL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COUNT_LESSON_COURSE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.COUNT_LESSON_COURSE)
                @Html.ValidationMessageFor(model => model.COUNT_LESSON_COURSE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CREATED_AT_COURSE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CREATED_AT_COURSE)
                @Html.ValidationMessageFor(model => model.CREATED_AT_COURSE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UPDATE_AT_COURSE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UPDATE_AT_COURSE)
                @Html.ValidationMessageFor(model => model.UPDATE_AT_COURSE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMAIL_COURSE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMAIL_COURSE)
                @Html.ValidationMessageFor(model => model.EMAIL_COURSE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LEVEL_COURSE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LEVEL_COURSE)
                @Html.ValidationMessageFor(model => model.LEVEL_COURSE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TYPE_COURSE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TYPE_COURSE)
                @Html.ValidationMessageFor(model => model.TYPE_COURSE)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
